#nav {
  margin: 0;
  padding: 0;
  zoom: 1;
}
#nav li {
  float: left;
  list-style: none;
  position: relative;
}
#nav li a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
}
#nav li:hover > ul {
  display: block;
}
#nav ul {
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 180px;
}
#nav ul li {
  float: none;
}
#nav ul a {
  padding: 8px 25px;
}
#nav ul ul {
  left: 180px;
  top: 0;
}
#nav:before, #nav:after {
  content: "";
  display: table;
}
#nav:after {
  clear: both;
}
