ul {
  display: inline-block;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
ul > li {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #c9c9c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #c9c9c9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #c9c9c9);
  background-image: -o-linear-gradient(top, #f5f5f5, #c9c9c9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #c9c9c9);
  background-image: linear-gradient(top, #f5f5f5, #c9c9c9);
  background-repeat: repeat-x;
}
ul > li:hover {
  background-position: 0 -15px;
}
ul > li:active {
  background-position: 0 -30px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
ul > li a {
  color: #666;
  font-size: .875em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
ul > li ul {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  z-index: 999;
}
ul > li ul ul {
  left: 140px;
}
ul > li > ul > li:last-child {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
ul > li > ul > li > ul li:first-child {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
ul > li > ul > li > ul li:last-child {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
ul > li li {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #afafaf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9c9c9), color-stop(100%, #afafaf));
  background-image: -webkit-linear-gradient(top, #c9c9c9, #afafaf);
  background-image: -moz-linear-gradient(top, #c9c9c9, #afafaf);
  background-image: -o-linear-gradient(top, #c9c9c9, #afafaf);
  background-image: -ms-linear-gradient(top, #c9c9c9, #afafaf);
  background-image: linear-gradient(top, #c9c9c9, #afafaf);
  background-repeat: repeat-x;
}
ul > li li:hover {
  background-position: 0 -15px;
}
ul > li li:active {
  background-position: 0 -30px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

#content > ul > li:first-child {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -khtml-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

#content > ul > li:last-child {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

body {
  background: #666;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#content {
  margin: 100px auto;
  text-align: center;
  width: 497px;
}

pre {
  color: #DFDFDF;
  font-size: 1.5em;
  margin: 2em 0;
  text-shadow: 0 1px 2px #333;
}

#note {
  color: #AFAFAF;
  font-size: .875em;
  margin-top: 5em;
  text-shadow: 0 1px 2px #333;
}
