// Adding Compass to project
@import "compass";

ul {
	display: inline-block;
	@include box-shadow(0 2px 4px rgba(0,0,0,.4));
	@include border-radius(10px);
	> li {
		background: darken(#EFEFEF, 10%);
		@include background-image(linear-gradient(top, #F5F5F5, darken(#EFEFEF, 10%)));
		&:hover {
			background: darken(#EFEFEF, 15%);
		}
		a {
			color: #666;
			font-size: .875em;
			text-shadow: 0 1px 0 rgba(255,255,255,.4);
		}
		ul {
			@include box-shadow(0 2px 4px rgba(0,0,0,.4));
			@include border-radius(10px);
			z-index: 999;
			ul {
				left: 140px;
			}
		}
		> ul > li:last-child { @include border-radius(0 0 10px 10px); }
		> ul > li > ul li:first-child { @include border-radius(10px 10px 0 0); }
		> ul > li > ul li:last-child { @include border-radius(0 0 10px 10px); }
		li {
			background: darken(#EFEFEF, 15%);
			&:hover {
				background: darken(#EFEFEF, 20%);
			}
		}
	}
}
#content > ul > li:first-child { @include border-radius(10px 0 0 10px); }
#content > ul > li:last-child { @include border-radius(0 10px 10px 0); }

// Body properties
body { background: #666; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

#content {
	margin: 100px auto;
	width: 497px;
	*width: 540px;
}

pre {
	color: #DFDFDF;
	font-size: 1.5em;
	margin: 2em 0;
	text-align: center;
	text-shadow: 0 1px 2px #333;
}

#note {
	color: #AFAFAF;
	font-size: .875em;
	margin-top: 5em;
	text-align: center;
	text-shadow: 0 1px 2px #333;
}